:root {
    --running-blue-dark: #4D7EA8;
    --running-blue-light: #78baf3;
    --cycling-orange-dark: #E9724C;
    --cycling-orange-light: #ff9c7c;
    --crosstrain-green: #326331;
}

dd.run-type span.key-chip {
    background: var(--running-blue-light)
}

dd.ride-type span.key-chip {
    background: var(--cycling-orange-light)
}

.activity-sport-run, .activity-type-run {
    fill: var(--running-blue-light);
    stroke: var(--running-blue-dark)
}

.activity-sport-ride, .activity-type-ride, .activity-type-ebikeride, .activity-type-virtualride {
    fill: var(--cycling-orange-light);
    stroke: var(--cycling-orange-dark)
}
